<table class="patient-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Uncle Jhonny</td>
        <td>75</td>
        <td>Masculino</td>
      </tr>
      <tr>
        <td>Isaac Miramontes Coronel</td>
        <td>82</td>
        <td>Femenino</td>
      </tr>
    </tbody>