---
// src/pages/index.astro
import DashboardLayout from "../layouts/DashboardLayout.astro";
import SetupPanel from "../components/SetupPanel.astro";
---

<DashboardLayout title="Inicio">
  <div class="dashboard-container">
      <SetupPanel />
  </div>
</DashboardLayout>

<style>
  .dashboard-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
</style>