---
import DashboardLayout from "../layouts/DashboardLayout.astro";
import PatientsTable from "../components/PatientsTable.astro";
import SearchBar from "../components/SearchBar.astro";
---

  <DashboardLayout title="Selección de Paciente">
    <main class="dashboard-container">
      <h1>Lista de Pacientes</h1>
      <SearchBar placeholder="Buscar paciente" />
      <PatientsTable />
    </main>
  </DashboardLayout>
